# Python cache
__pycache__/
*.py[cod]
.pytest_cache/

# Virtual environments
.venv/
venv/
env/

# IDEs
.vscode/
.idea/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build/output
build/
dist/
*.egg-info/
bin/
obj/

# OS files
.DS_Store
Thumbs.db

#Other files
*.pdf